<nav class="navbar navbar-expand-lg bg-body-tertiary navbar-dark" style="background-color: black;opacity: 70%;">
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Work</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About Me</a>
          </li>
        </ul>
        <div class="d-flex" role="search">
          <button class="btn btn-outline-success" type="submit">Log In</button>
          <button style="margin-left: 5px;" class="btn btn-outline-success" type="submit">Sign Up</button>
        </div>
      </div>
    </div>
  </nav>