body{
    background-image: url(./img/404.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#button1{
    margin-top: 2%;
    padding-left: 100px;
    padding-right: 100px;
    border: 2px solid black;
    font-weight: bold;
    margin-left: 43%;
    padding-top: 20px;
    padding-bottom: 20px;
}