body{
    background-color: black;
}
/* Page 1 */
.page1{
    background-image: url(./img/main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}
.h1Page1{
    font-size: 350%
}
@media only screen and (max-width: 390px) {
    .h1Page1{
        font-size: 280%;
  }}
#buttonPage1{
    margin-top: 2%;
    padding-left: 30px;
    padding-right: 30px;
    border: 2px solid black;
    font-weight: bold;
}

/* Page 2 */
.page2{
    background-image: url(./img/the-games-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

#left-sidePage2{
    color: white;
    margin-top: 50%;
    margin-left: 20%;
}
@media only screen and (max-width: 768px) {
    #left-sidePage2{
        color: white;;
        font-size: 75%;
        margin-top: 30%;
        margin-bottom: -20%;
  }}
  @media only screen and (max-width: 576px) {
    #left-sidePage2{
        color: white;;
        font-size: 75%;
        margin-top: 30%;
        margin-bottom: -20%;
  }}

#right-sidePage2{
    margin-top: 30%;
}

/* page 3 */
.page3{
    background-image: url(./img/features.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

#titlePage3{
    margin-top: 30%;
    color: white;
    padding-bottom: 5%;
}
#bulletPage3{
    padding-right: 10%;
}

#mainTitlePage3{
    color: orange;
}
.vertical-linePage3 {
    width: 2px;
    height: 13.1%;
    background-color: white;
    position: absolute;
    margin-top: 3.39%;
    margin-left: 0.45%;
}

/* page 4 */
.page4{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) 50%, transparent 30%), url(./img/requirements.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    }
#h3HeaderPage5{
        color: white;
        font-size:120%;
        margin-top: 4% 
}

#asideUpLeftPage4{
    color: white;
    margin-left: 20%;
    font-size: 350%;
    margin-top: 5%;
}
@media only screen and (max-width: 576px) {
    #asideUpLeftPage4 {
        color: white;;
        font-size: 250%;
        margin-top: 5%;
    }
  }
  @media only screen and (max-width: 768px) {
    #asideUpLeftPage4 {
        color: white;;
        font-size: 250%;
        margin-top: 5%;
        margin-right: 30%;
        margin-left: 0;
    }
  }
.tablePage4 {
    border-collapse: collapse;
    background-color: transparent;
    width: 29.7%;
    position: absolute;
    margin-left: 10%;
  }
  
  .tdPage4 {
    border: 1px solid grey;
    padding: 10px;
  }

.textUpPage4{
    color: goldenrod;
    font-size: larger;
    margin: 0;
    margin-bottom: 0px;
}

.textUnderPage4 {
    margin: 0;
    margin-top: 0px;
    color: white;
    font-size: smaller;
    padding-bottom: 10px;
}

/* page 5 */
.page5{
    background-image: url(./img/top-score-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
@media only screen and (max-width: 576px) {
    .Page5 {
    background-image: url(./img/top-score-bg.png);
    padding-top: 10%;
    padding-bottom: 20%;
    }
  }

#textRightPage5 {
    color: white;
    margin-top: 40%;
    margin-left: 30%;
}
.imgSkull{
    height: 75%;
    opacity: 50%;
}

.h1Page5{
    font-size: 45px;
}
@media only screen and (max-width: 576px) {
    .h1Page5 {
        color: white;;
        font-size: 200%;
        margin-top: -60%;
    }
  }
  @media only screen and (max-width: 442px) {
    .h1Page5 {
        color: white;;
        font-size: 200%;
        margin-top: -100%;
    }
  }

.pPage5{
    font-size: smaller;
    margin-right: 45%;
} 
@media only screen and (max-width: 767px) {
    .pPage5 {
        font-size: smaller;
        margin-right: 0;
    }
  }

#socialImg{
    background-color: rgb(67, 65, 65);
}

/* PAge 6 */
.page6{
    background-image: url(./img/newsletter.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;  
}
#footerUpPage6{
    margin-top: -3%;
}
@media only screen and (max-width: 992px) {
    #footerUpPage6 {
        margin-top: -6%;
    }
  }
  @media only screen and (max-width: 767px) {
    #footerUpPage6 {
        margin-top: -15%;
    }
  }
  @media only screen and (max-width: 567px) {
    #footerUpPage6 {
        margin-top: -25%;
    }
  }
.imgSkull{
    height: 65%;
}
@media only screen and (max-width: 767px) {
    .imgSkull {
        height: 65%;
        opacity: 20%;
    }
  }
.h3Page6{
    margin-right: 65%;
}
@media only screen and (max-width: 576px) {
    .h3Page6 {
        margin-right: 65%;
        font-size: 150%
    }
  }
  @media only screen and (max-width: 352px) {
    .h3Page6 {
        margin-right: 65%;
        font-size: 100%;
        margin-top: 20%;
    }
  }

#h1Page6{
    margin-right: 65%;
    font-size: 350%
}
@media only screen and (max-width: 767px) {
    #h1Page6 {
        margin-right: 65%;
        font-size: 250%
    }
  }
  @media only screen and (max-width: 366px) {
    #h1Page6 {
        margin-right: 65%;
        font-size: 200%
    }
  }

.pFooterPage6{
    margin-right: 30%;
    text-align: justify
}
@media only screen and (max-width: 576px) {
    .pFooterPage6 {
        margin-right: 30%;
        text-align: justify;
        font-size: 80%;
    }
  }
.footbarMenuPage6{
    font-size: 70%;
}


.upFooter{
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 50px;  
}
@media only screen and (max-width: 992px) {
    .upFooter {
        padding-left: 10px;
        font-size: 80%;
    }
  }

.menuSocialImage{
    padding-left: 50px;
}
@media only screen and (max-width: 992px) {
    .menuSocialImage {
        padding-left: 0px;
    }
  }
.socialImage{
    padding-left: 20px;
}
@media only screen and (max-width: 992px) {
    .socialImage {
        padding-left: 10px;
    }
  }
@media only screen and (max-width: 767px) {
.socialImage {
    padding-left: 10px;
    width: 20%;
}
}
.copyRightPage6{
    color: rgb(73, 71, 71)
}
@media only screen and (max-width: 767px) {
    .copyRightPage6 {
        color: rgb(73, 71, 71);
        font-size: 70%;
    }}
.bottomFooter{
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 10px;
}
@media only screen and (max-width: 767px) {
    .bottomFooter {
        color: #FFFFFF;
        text-decoration: none;
        padding-left: 10px;
        font-size: 70%;
    }
    }