<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./game.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <title>Traditional Game</title>
</head>
<body>
    <div class="container mainBg">
        <div class="header d-flex mt-2 text-uppercase">
            <a class="headerP" href="/"><</a>
            <img src="./img/logo 1.png" alt="home" class="mx-4 mt-2 imageHeader">
            <p class="mt-2 fontHeader">ROCK PAPER SCISSORS</p>
        </div>
        <div class="row row-cols-sm-3 row-cols-md-3 text-uppercase text-center contentFont">
            <section id="playerArea" class="col">
                <ul>
                    <li> <p>Player</p></li>
                    <li><img src="./img/batu.png" alt="batu" class="imageSetContent"></li>
                    <li><img src="./img/kertas.png" alt="kertas" class="imageSetContent"></li>
                    <li><img src="./img/gunting.png" alt="gunting" class="imageSetContent"></li>  
                </ul>  
            </section>
            <section class="col d-flex justify-content-center align-items-center">
               <p id="gameResult" class="contentVs">vs</p> 
            </section>
            <section id="comArea" class="col">
                <ul>
                    <li> <p>Com</p></li>
                    <li><img src="./img/batu.png" alt="batu" class="imageSetContent"></li>
                    <li><img src="./img/kertas.png" alt="kertas" class="imageSetContent"></li>
                    <li><img src="./img/gunting.png" alt="gunting" class="imageSetContent"></li>  
                </ul>   
            </section>
        </div>
        <footer class="d-flex justify-content-center align-items-center">
            <img src="./img/refresh.png" alt="refresh" class="imageFooter rotate">
        </footer>
    </div>
    <script src="./playerDesc.js"></script>
    <script src="./comDesc.js"></script>
    <script src="./playing.js"></script>
    <script src="./newObject.js"></script>
</body>
</html>